.mom {
  margin-left: 10px;
}
.Dad {
  height: 600px;
  width: 600px;
  background-color: aliceblue;
  overflow: auto;
  display: inline-block;
  margin-top: 80px;
  margin-left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
p {
  font-size: 1.6rem;
}
.mom {
  counter-reset: Giatri;
}
h2 {
  position: sticky;
  color: black;
  background-color: pink;
  font-size: 1.8rem;
  top: 0;
  counter-increment: Giatri;
  counter-reset: Yeuem;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
}
h2::before {
  content: "Pháº§n " counter(Giatri) ": ";
}
p {
  counter-increment: Yeuem;
}
p::before {
  content: counter(Yeuem) ": ";
}
span {
  font-size: 1.7rem;
}
